@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@keyframes slidein {
  from {
    opacity: 0;
    margin-left: -100%;
  }

  50% {
    opacity: 0.5;
    margin-left: -50%;
  }

  to {
    opacity: 1;
    margin-left: 0%;
  }
}

@keyframes slideinRigth {
  from {
    /* opacity: 0.3; */

    /* margin-right: -2%; */
    background-color: transparent;
  }

  50% {
    /* opacity: 0.7; */

    /* margin-right: -1%; */
    background-color: #6070ff;
    color: wheat;
  }

  to {
    /* opacity: 1; */

    /* margin-right: 0%; */
    background-color: #6070ff;
    color: #fff;
  }
}

body {
  font-family: Poppins, Helvetica, sans-serif;
  font-size: 10px;
}

.container {
  min-width: 375px;
}

/* reset settings for all browser */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100%;
  height: 68px;
  font-size: 60.5%;
}

.header-wrapper {
  position: relative;
  height: 100%;

  /* background-color: green; */
  margin-top: -5px;
}

.header-container {
  position: fixed;
  display: flex;
  width: 100vw;
  box-shadow: none;
  min-width: 375px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-top: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#nav-btn {
  display: none;
}

.nav-wrapper {
  display: none;
}

.header-items {
  flex-grow: 0;
  font-size: 1.6rem;
  align-items: baseline;
}

.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box span {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  animation: slidein 1s linear;
}

#compress-menu {
  height: 4rem;
  width: 4rem;
}

a#logo,
a#logo:hover,
a#logo:active {
  text-decoration: none;
  color: #6070ff;
  cursor: pointer;
}

#toggle-menu {
  color: #6070ff;
  width: 45px;
  height: 30px;
  border: none;
  background-color: white;
  font-size: 25px;
  margin-right: 15px;
  margin-top: 10px;
  overflow: hidden;
}
/* stylelint-disable */
.main {
  background-color: #f7f7f9;
}

section.presentation {
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 70px;
  height: 95vh;
  display: flex;
  font-size: 62.5%;
  flex-direction: column;
}

.presentation-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url("../images/header-shapes-mobile@2x.svg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding: 1rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 1.6rem;
}

.text {
  font-style: normal;
  flex-grow: 0;
  flex-shrink: 1;
  order: 0;
  margin-bottom: 1.2rem;
}

.text-primary {
  /* font-weight: bold; */
  font-size: 2rem;
  line-height: 2.4rem;

  /* display: flex; */

  /* align-items: flex-end; */
  color: #172b4d;
  flex-grow: 0;
  flex-wrap: wrap;
}

h1 span {
  display: block;
}

h1 span.name-is {
  font-size: 1.1rem;
}

h1 span.carrier {
  font-size: 1.2rem;
  color: #6070ff;
  display: inline-block;
}

.text-secondry {
  font-weight: 400;
  font-size: 1rem;
  color: #344563;
  text-align: left;
  justify-content: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
}

.social {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 1.2rem;
  margin-top: 1rem;
}

.social-items {
  justify-content: space-between;
  align-items: flex-start;
  transition: color 2s;
  font-size: 1.3rem;
}

.social-header,
.supporting-text h2 {
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  font-size: 19px;
  flex-grow: 0;
  transition: color 2s;
}

.social-icons {
  display: flex;
  align-items: flex-start;
}

.social-icon-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0.1px;
  align-items: baseline;
  gap: 1rem;
}

ul li {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-start;
}

ul li a {
  justify-content: flex-start;
  height: 2rem;
  width: 1.717rem;
  flex: 1 0 0;
}

.social-icon-list li {
  display: flex;
  align-items: flex-start;
}

.social-icon-list li a {
  display: flex;

  /* align-items: flex-end; */

  /* width: 28px; */
  font-size: 30px;
  height: 17px;
  color: #172b4d;
  text-decoration: none;
}

.work {
  display: grid;
  grid-template-columns: 100%;
  width: 100%;
  row-gap: 88px;
  padding: 114px 14px;
}

.card-works {
  display: flex;
  flex-direction: column;
  border: 1px solid #dfe1e6;
  background-color: white;
  align-items: stretch;
  width: 100%;
  border-radius: 12px;
  gap: 1rem;
  padding: 2rem;
}

.snapshoot,
.left-block {
  width: 100%;
}

.snapshoot img {
  width: 100%;
  height: auto;
}

/* turn off all desktop features */
.work .desktop {
  display: none;
}

.snapshoot {
  height: auto;
  border-radius: 8px;
}

.left-block {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: flex-start;
  gap: 1.2rem;
  width: 100%;
}

.left-block.multy {
  gap: 1.5rem;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 90%;
  height: auto;
  flex: none;
  order: 0;
}

.primary-text .title {
  width: 295px;
  height: 36px;
  line-height: 44px;
  font-weight: 700;
  font-size: 3.2em;
  color: #172b4d;
}

.primary-text .title.multy {
  width: 90%;
  height: auto;
  font-weight: 700;
  font-size: 32px;
  line-height: 30px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.frame2 {
  min-width: 236px;

  /* remove width if you don't it to expand width: 65%; */
  display: flex;
}

.frame2 ul {
  display: flex;
  width: 236px;
  height: auto;
  align-items: center;
  gap: 5px;
  padding: 8px;
  flex-grow: 1;
}

.frame2 ul li {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li.counter {
  flex-grow: 0;
  flex-shrink: 2;
}

.counter img {
  height: 0.8rem;
  width: 0.8rem;
}

.frame2 ul li.client {
  color: #344563;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  flex-grow: 1;
  flex-shrink: 1;
}

.frame2 ul li.client.facebook {
  display: none;
}

.frame2 ul li.role,
.frame2 ul li.year {
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.frame2 ul li.role {
  width: 88px;
  flex-grow: 2;
  flex-shrink: 0;
  justify-content: center;
}

.frame2 ul li.year {
  width: 29px;
  flex-shrink: 0;
  flex-grow: 0;
}

.primary-text_text {
  display: flex;
  justify-content: flex-start;
  height: auto;
  width: 100%;
}

.primary-text_text p {
  line-height: 24px;
  color: #344563;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

.tags ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
  width: 203px;
  height: 24px;
  flex: none;
  flex-grow: 0;
}

.tags ul li {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  padding: 0.5rem;
  flex: none;
  background: #ebebff;
  border-radius: 8px;
  order: 0;
  flex-grow: 0;
}

.action {
  height: 72px;
  width: 295px;
}

#action-button-source-link,
#action-button-live-link,
.action button,
button.secondary,
.about-items > a,
#nav-btn {
  border: 1px solid #6070ff;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 5px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: white;
  color: #6070ff;
  cursor: pointer;
}

#nav-btn,
.about-items > a {
  text-decoration: none;
}

/* #nav-btn:hover, */
.about-items > a:hover {
  color: white;
  background-color: #6070ff;
}

#nav-btn:hover {
  border-color: #6070ff;
  background-color: white;
  color: #6070ff;
}

#action-button-source-link,
#action-button-live-link,
.action button {
  width: 124px;
}

button.secondary {
  width: 162px;
}

.message-form ul li button {
  align-items: center;
  padding: 12px 16px;
  width: 140px;
  height: 48px;
  border: none;
  background: #fff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 114px 24px;
  gap: 24px;
  width: 100%;
  background-color: white;
  border-top-right-radius: 80px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  flex: none;
  flex-grow: 0;
}

.top .text-primary {
  width: 70%;
  height: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex-grow: 0;
}

.top .text-secondary {
  width: 100%;
  align-items: center;
  justify-content: center;
  height: auto;
  font-weight: 400;
  font-size: 19px;

  /* line-height: 24px; */
  color: #344563;
  flex-grow: 0;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 200px;
  height: 80px;
  flex: none;
  flex-grow: 0;
}

.frame1 {
  display: flex;
  align-items: flex-start;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.frame7 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 7px;
}

.frame7 h3,
.language span {
  /* height: 24px; */
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.frame7 h3 {
  font-weight: 800;
  font-size: 22px;
  color: #172b4d;
}

.lang-list {
  display: flex;
  align-items: center;
  padding: 4px;
  flex-wrap: wrap;
  flex: 1 1 auto;
  gap: 5%;
  width: 100%;
  margin-bottom: 10px;
}

.shrink {
  flex-shrink: 4;
}

.lang-list li {
  display: flex;
  width: 45%;
  min-width: 130px;
  padding: 5px;
  border-radius: 8px;
}

.lang-list.list-skills li {
  width: 100%;
  flex: 1 0 100%;
}

.microverse {
  text-decoration: none;
  color: #6070ff;
}

.lang {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-top: 2px;
  color: #6070ff;
  display: block;
}

.framework {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.framework img {
  width: 100%;
  height: 1px;
  background: #dfe1e6;
}

.language {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.language h3,
.button.normal-btn {
  width: 100%;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: white;
}

button.normal-btn {
  border: none;
  background-color: white;
}

.footer {
  border-top-left-radius: 80px;
  width: 100%;
  height: auto;
  background: url("../images/contact-form.svg") no-repeat;
  background-position: 100%;
  background-color: #6070ff;
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
  padding: 103px 24px 8px 24px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: auto;
  width: 100%;
}

.contact-me h2 {
  width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  align-items: center;
  text-align: center;
  color: #fff;
}

.contact-me p {
  width: 100%;
  height: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.contact-forms {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
}

.message-form ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}

.message-form ul li {
  width: 100%;
}

.message-form ul li input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 15px;
}

.message-form ul li textarea {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;
  height: 170px;
  color: #b3bac5;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px 38px 15px 16px;
  resize: none;
}

.contact-forms img {
  width: 50%;
  height: 5px;
}

.last-img {
  display: flex;
  justify-content: center;
}

.navigation ul {
  display: none;
}

/* navtoggle */
#nav-toggle {
  height: 100%;
  z-index: 100;
  width: 100%;
  background-color: rgba(96, 112, 255, 0.9);
  position: fixed;
  flex-direction: column;
  display: flex;
}

#close-button-container {
  display: flex;
  justify-content: end;
  height: 10%;
  align-items: center;
}

.social-icon-list li:hover {
  transform: scale(1.1);
  color: rgba(96, 112, 255, 0.9);
}

#close-button-container img {
  display: flex;
  align-content: center;

  /* width: 8%; */
  margin-right: 6%;
  font-size: 35px;
  font-weight: 700;
  width: 40px;
}

#menu-img img {
  width: 40%;
  margin-bottom: 3%;
}

#menu-img {
  display: flex;
  justify-content: center;
  height: 10%;
  align-items: flex-end;
}

#js_nav {
  width: 100%;
  z-index: 1500;
  padding: 3%;
  margin-bottom: 5%;
  height: 80%;
  animation: slideintop 1.5s linear;
}

li.js-nav-items {
  color: white;
  font-weight: 600;
  font-size: 28px;
  line-height: 44px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 0 1rem;
  background-color: inherit;
}

li.js-nav-items a,
li.js-nav-items a:hover,
li.js-nav-items a:active {
  text-decoration: none;
  color: white;
}

/* li.js-nav-items a:hover {
  border-bottom: 2px solid white;
  transition: all 2s;
} */

#close-button {
  height: 40px;
  width: 100px;
}

/* start with datails view */
div#cardContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 100;
  width: 95%;
  height: 98%;
  overflow: scroll;
  background-color: white;
  padding: 20px;
  margin: 2.5%;
  gap: 1%;
  border: 2px solid #dfe1e6;
  border-radius: 16px;
}

div#primaryText {
  display: flex;
  flex-direction: column;
  max-height: 60px;
  gap: 5px;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  flex: auto;
  flex-shrink: 3;
}

#titleClose {
  display: flex;
  justify-content: space-between;
  flex-shrink: 3;
  max-height: 30px;
}

#Frame-2 {
  display: flex;
  align-items: center;
}

#titleH2 {
  font-weight: 700;
  font-size: 28px;
  line-height: auto;
  color: #172b4d;
  flex-shrink: 3;
  padding: 0;
  flex-wrap: wrap;
}

#ul-list {
  padding: 2px;
  display: flex;
  height: 30px;
  width: 60%;
  min-width: 300px;
  max-width: 400px;
}

#ul-list li {
  padding: 2px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
  flex: 1 1 auto;
}

#ul-list li.counters {
  width: 5%;
  justify-content: center;
}

#ul-list li img {
  width: 0.8rem;
  height: 0.8rem;
}

#ul-list li.role {
  width: 20%;
  flex-grow: 3;
}

#ul-list li.clients {
  width: 10%;
  flex-grow: 2;
}

#ul-list li.years {
  width: 10%;
}

#imgDetails {
  width: 90%;
  height: 35%;
  margin: 0% 5%;
}

#closeContainer {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

#closeContainer #img-close {
  width: 35px;
}

#leftBlockDescriptions {
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 3%;
  margin: auto;
}

#primaryTextOfText {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  overflow: hidden;

  /* height: 65%; */
  height: auto;
  flex-grow: 0;
  flex-shrink: 2;
}

#tagsUl li {
  line-height: 1px;
}

#tagsAndButton {
  display: flex;
  height: 35%;
  flex-direction: column;
  justify-content: space-between;
  gap: 3%;
}

#actionbtn.action {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
}

#actionbtn.action a {
  text-decoration: none;
}

#action-button-source-link,
#action-button-live-link {
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: 164px;
}

#action-button-live-link {
  gap: 15%;
  justify-content: center;
  width: 150px;
}

.about-text {
  margin-bottom: 1rem;

  /* font-size: 1rem; */
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 18px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px, rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-wrapper {
    display: flex;

    /* width: 50%; */
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    gap: 5%;

    /* border:  2px solid; */
  }

  #nav-btn {
    display: flex;
    border: 1px solid;
    font-size: 1rem;
    display: flex;
    align-items: last baseline;

    /* text-align: center; */
    background-color: #6070ff;
    color: #fff;
    animation: slideinRigth 1.5s linear;
  }

  section.presentation {
    height: 90vh;
  }

  .navigation {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    padding: 0 0.5rem;
    align-items: center;
    align-content: center;

    /* border:  2px solid; */
  }

  .navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    gap: 3rem;
  }

  .navigation ul li {
    /* display: flex; */
    flex: 0 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;

    /* gap: 5; */

    /* width: 259px; */

    /* height: 40px; */
  }

  .navigation ul li a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #6070ff;
    font-weight: 500;
    font-size: 1rem;

    /* line-height: 20px; */
  }

  .navigation ul li a:hover,
  a#logo:hover {
    color: #172b4d;
  }

  #action-button-source-link,
  #action-button-live-link,
  .nav-link:link,
  .nav-link:hover,
  .nav-link:active,
  .nav-link:visited {
    text-decoration: none;
  }

  #toggle-menu {
    display: none;
  }

  .nav-link {
    animation: slidein 1s linear;
  }

  .presentation-content {
    background: url("../images/Header-bg.svg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    align-items: center;
  }

  .text-wrapper {
    width: 70%;
    padding-left: 1rem;
  }

  .text-primary {
    /* font-weight: bold; */
    font-size: 2.4rem;
    line-height: 2.5rem;
  }

  .text-secondry {
    font-weight: 400;
    font-size: 1.1rem;
  }

  .social {
    font-size: 1.3rem;
  }

  .work {
    padding: 10%;
    row-gap: 142px;
  }

  .card-works {
    flex-direction: row;
    gap: 5%;
  }

  /* turn off all mobile   */
  .work .mobile {
    display: none;
  }

  /* turn on all desktop features  */
  .work .desktop {
    display: inline-block;
  }

  .inverse {
    order: 1;
  }

  .snapshoot,
  .left-block {
    width: 45%;
  }

  .snapshoot img {
    width: 100%;
    height: 90%;
  }

  /* max be screen above 1024 */
  .left-block {
    flex-grow: 0;
  }

  /* make frame2 css grid */
  .frame2 {
    width: 80%;
  }

  .lang-list {
    flex-direction: row;
    justify-content: flex-start;
  }

  .lang-list li {
    width: 45%;
    flex: 0 3 auto;
  }

  .lang-list li img,
  .lang-list li span {
    justify-content: center;
    align-items: center;
    flex-grow: 0 1 auto;
  }

  .lang-list li:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  .frame2 ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 1px;
    padding: 1px;
  }

  .frame2 ul li {
    text-align: left;
  }

  .frame2 ul li.role {
    width: 100%;
  }

  .frame2 ul li.client.desktop {
    display: flex;
    align-items: center;
  }

  .frame2 ul li.role.desktop {
    grid-column: 3 /7;
    width: 100%;
    display: flex;
  }

  .tags {
    width: 100%;
    height: auto;
  }

  .tags ul {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
  }

  .tags ul li {
    flex-shrink: 1;
    padding: 4px;
    height: auto;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  .tags ul li.tags {
    flex-shrink: 3;
  }

  .tags ul li.tag.desktop {
    min-width: 101px;
  }

  .about {
    padding: 142px;
    flex-direction: row;
    gap: 25px;
    font-size: 62.5%;
  }

  .about-items {
    width: 50%;
  }

  .frame7 h3,
  .about-items {
    color: #344563;
  }

  .footer {
    padding: 124px 20%;
    background: url("../images/contact-form-background-shapes-large.svg") no-repeat;
    background-color: #6070ff;
    background-size: contain;
  }

  .submit-li {
    display: flex;
    justify-content: center;
    margin-top: 9px;
    border: none;
  }

  .submit-li button {
    width: 1440px;
    height: 846px;
    border: none;
    color: #6070ff;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
  }

  .footer-items {
    padding-left: 116px;
    padding-right: 116px;
  }

  .last-img {
    display: none;
  }

  /* popup window */
  div#cardContainer {
    width: 86%;
    height: 95%;
    margin: 2.5% 7%;
    gap: 2%;
  }

  #imgDetails {
    height: 57%;
  }

  #leftBlockDescriptions {
    display: flex;
    flex-direction: row;
    height: 30%;
    margin: auto;
  }

  #actionbtn.action {
    gap: 5%;
  }

  #tagsAndButton {
    justify-content: space-between;
    gap: 40%;
    height: 50%;
  }

  #tagsUl li {
    line-height: 16px;
  }

  #primaryTextOfText {
    display: flex;
    align-content: center;
    height: 90%;
    width: 70%;
    font-size: 18px;
    padding: auto;
  }
}

#action-button-source-link:hover,
#action-button-live-link:hover,
#getInTouch:hover,
.action button:hover,
button.secondary:hover {
  background: #6070ff;
  box-shadow: 0.1px 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

#action-button-source-link:active,
#action-button-live-link:active,
#getInTouch:active,
.action button:active,
button.secondary:active {
  background: #2230d2;
}

#action-button-source-link:disabled,
#action-button-live-link:disabled,
#getInTouch:disabled,
.action button:disabled,
button.secondary:disabled {
  color: #5e6c84;
}

/* form validation start */
#error {
  color: rgb(139, 13, 9);
  font-size: 18px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hide {
  display: none;
}
/* stylelint-enable */